#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #202124;
}

.logo-img {
  margin-top: -255px;
}

.logo-img img {
  width: 272px;
  height: 92px;
}

.search-box {
  width: 600px;
  height: 48px;
  background-color: #7a7a7a;
  /* border: 0.05px solid wheat; */
  border-radius: 22px;
  /* margin-top: 15px; */
}

.buttons {
  margin: 40px;
}

.buttons button {
  margin-left: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}



.search-results {
  color: white;
  
}



.search-results h4{
  margin-left: -700px;
} 

/* .search-results p{
  margin: 0;
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
